<!-- <div class="bg-white w-full rounded-lg shadow-lg p-5 mx-auto flex flex-col md:flex-row gap-4 h-[80vh]"> -->
<div class="bg-white w-full rounded-lg p-5 mx-auto flex flex-col md:flex-row gap-4 h-[80vh]">
    <div class="md:w-[70%] w-full h-full">
        <%- include('../cardViewSectionImage.ejs') %>
    </div>
    <div class="md:flex-1 w-full h-full relative md:block overflow-y-auto no-scrollbar">
        <%- include('./settingViewAddPagesToPDF.ejs') %>
    </div>
    
</div>
