<!DOCTYPE html>
<html>

<head>
    <title>Page Not Found - Image to PDF</title>
    <link rel="stylesheet" href="/css/main.css">
    <meta name="robots" content="noindex,follow">
</head>

<%- include("../components/header") %>

    <body>


        <div class="flex items-center justify-center mt-5">
            <div class="text-center p-8 bg-white rounded-lg shadow-lg">
                <h1 class="text-4xl font-bold text-[var(--primary-color)] mb-4">Something Went Wrong</h1>
                <p class="text-lg text-gray-600 mb-6">We're sorry, but something unexpected happened. Please try again
                    later.</p>
                <a href="/"
                    class="inline-block px-6 py-3 bg-[var(--primary-color)] text-white font-semibold rounded-md hover:bg-opacity-90 hover:bg-purple-700 transition">Go
                     to Home</a>
            </div>
        </div>


    </body>

    <%- include("../components/footer") %>

</html>