<!DOCTYPE html>
<html>
<head>
  <meta name="description" content="Best tool for pdf operations like converting image to PDF, PDF spliting, Merge PDf, Edit PDF Pages...">
  <meta name="keywords" content="image to pdf, pdf tools">
  <title>All in One PDF Tool</title>
  <meta name="robots" content="index,follow">
</head>

<%- include("../components/header") %>

<body>
  
  <main>
    <p>Welcome to Index Page</p>
  </main>

  <%- include("../components/footer") %>
</body>
</html>
