<!DOCTYPE html>
<html>

<head>
    
    <title>Merge PDFs Online</title>
    <meta name="description" content="Merge PDF online tool, simple user interface drag and drop, no headache, fast and absolutely free."/>
    <meta name="keywords" content="Merge PDF, Image to PDF, split PDF, combine PDF, extract PDF, compress PDF, convert PDF, Word to PDF, JPG to PDF"/>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/mergePDF.css">
    <meta name="robots" content="index,follow">
</head>

<%- include("../components/header") %>

<body>

        <div class="mx-auto">
            <div id="pickPDFContainer">
                <%- include('../components/MergePDF/pickPdf.ejs') %>
            </div>
            <div id="mergePDFEnableContainer" class="hidden">
                <%- include('../components/MergePDF/mergePDFEnable.ejs') %>
            </div>
        </div>

        <%- include("../components/footer") %>
</body>

<script src="https://cdn.jsdelivr.net/npm/pdfjs-dist@latest/build/pdf.min.js"></script>

<script src="https://cdn.jsdelivr.net/npm/compressorjs@1.2.1/dist/compressor.min.js"></script>

<script src="/js/mergepdf.js"></script>

</html>